body {
    background-color: rgb(103, 31, 31);
    color: white; 
    margin: 0px; 
}

.banner {
    width: 100vw; 
    height: 200px; 
}

.banner > img {
    width: inherit;
    height: inherit; 
    object-fit: cover; 
    position: absolute; 
    filter: grayscale() brightness(40%); 
}

.headline {
    width: inherit; 
    height: inherit; 
    position: relative; 
}

.our-menu > img {
    width: 300px; 
}

.access img, 
.contact img {
    width: 300px; 
}